stepfunction_template.json
{
   "Comment":"Sample Step Function workflow example",
   "StartAt":"DetectFileType",
   "States":{
      "DetectFileType":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-DetectFileType",
         "Next":"FileType"
      },
      "FileType":{
         "Type":"Choice",
         "Choices":[
            {
               "Variable":"$.type",
               "StringEquals":"txt",
               "Next":"TEXT"
            },
            {
               "Variable":"$.type",
               "StringEquals":"jpg",
               "Next":"IMAGE"
            },
            {
               "Variable":"$.type",
               "StringEquals":"mp3",
               "Next":"MP3"
            }
         ],
         "Default":"OTHER"
      },
      "OTHER":{
         "Type":"Fail",
         "Cause":"Invalid formart",
         "Error":"Error"
      },
      "MP3":{
         "Type": "Succeed"
      },
      "TEXT":{
         "Type":"Pass",
         "Next":"DetectLanguage"
      },
      "DetectLanguage":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-DetectLanguage",
         "Next":"ConvertToAudio"
      },
      "ConvertToAudio":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-ConvertToAudio",
         "Next":"Parallel"
      },
      "IMAGE":{
         "Type":"Pass",
         "Next":"AnalyzeImage"
      },
      "AnalyzeImage":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-AnalyzeImage",
         "Next":"CreateTextFile"
      },
      "CreateTextFile":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-CreateTextFile",
         "End":true
      },
      "Parallel":{
         "Type":"Parallel",
         "End":true,
         "Branches":[
            {
               "StartAt":"SaveInDatabase",
               "States":{
                  "SaveInDatabase":{
                     "Type":"Task",
                     "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-SaveInDatabase",
                     "End":true
                  }
               }
            },
            {
               "StartAt":"SendMessage",
               "States":{
                  "SendMessage":{
                     "Type":"Task",
                     "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-SendMessage",
                     "End":true
                  }
               }
            },
            {
               "StartAt":"AddToQueue",
               "States":{
                  "AddToQueue":{
                     "Type":"Task",
                     "Resource":"arn:aws:lambda:eu-west-1:<account_number>:function:projectAI-AddToQueue",
                     "End":true
                  }
               }
            }
         ]
      }
   }
}
